<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="dbSettingsPassword" value="bbb8174057a45e8ff4a70ac26c9eeef2"/>
		<add key="host" value=""/>
		<add key="user" value=""/>
		<add key="usrpswd" value=""/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
</configuration>
